<h1>ComicBox</h1>

<h2>Publishers <a href="/publishers/new">(+)</a>
<div class='index_box'
<ul>
  <% @publishers.each do |publisher| %>
    <li>
      <a href="/publishers/<%= publisher.id %>">
        <%= publisher.name %>
      </a>
    </li>
   <% end %>
</ul>
</div>
