/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html{
   background-color: #76787B;
   background-image: url("./indexbackground.png");
 }

 body{
  margin: auto;
  text-align: center;
 }

 h1{
   font-family: 'Bangers', cursive;
   font-size: 100px;
   text-shadow: 0px 15px 20px #21252B;
   color: black;
   -webkit-text-fill-color: white;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
 }

h2{
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
}

h3{
  margin: 0px;
}

h4{
  margin: 0px;
  padding: 3px;
}

.edit_link{
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 2px;
}

.show_comic{
  text-align: center;
  background-color: white;
  border: 5px solid black;
  border-radius: 15px;
  width: 500px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.show_pub{
  text-align: center;
  background-color: white;
  border: 5px solid black;
  border-radius: 15px;
  width: 500px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

input{
  margin: 5px;
}

.edit{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  border: 5px solid black;
  border-radius: 15px;
  width: 500px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.cover-image{
  background-color: white;
  max-width: 300px;
  border: 5px solid black;
  border-style: groove;
  border-radius: 15px;
  padding: 3px;
}

div{
  text-align: left;
  background-color: white;
}

.index_box{
  text-align: center;
  padding: 10px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  border: 5px solid black;
  border-radius: 15px;
  box-shadow: 0px 15px 20px #21252B;
}

ul{
  padding-left: 0px;
  list-style: none;
}
